 
.search-icon{
    position: absolute;
    right: 10px;
    top: 36px;
    margin-top: 18px;
}
.relative{
    position: relative;
}
.runtest-container{
    padding: 10px;
    border-radius: 3px;
}

.chart-container {
    position: relative;
    margin: auto;
}
.container-div{
    background-color:#FFF;
}

.form-label{
    color:#000000 !important;
    padding: 10px;
}